.rectangle {

    flex-direction: row;

    height: 50px;
    width: 320px;
    /* background-color: #555; */
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
    margin-bottom: 5px;
    
}

.number {

    font-size: 20px;
    position: relative;
    left: 60px;
    bottom: 50px;
    margin-bottom: 5px;
}



.calllog {
    position: relative;
    left: 60px;
    bottom: 50px;
    color: #6d7574;

}

.phone {
    height: 50px;
    width: 50px;
}